.wrapperNarrow {
    width: 800px;
    border: gray solid 3px;
    margin: auto auto;
    padding: 20px 20px;
    align-items: center;
  }
  h1, h2, .textCentered{
    text-align: center;
}
.taskbox{
  width: 40%;
  height: 80px;
}
.sideByside{
  display: inline-block;
}
.hidden{
  visibility: hidden;
}
td, tr {
  padding: 5px 20px;
}
.visible{
  visibility: visible;
}